{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Imprint'), 'statictheme.imprint_crc' %}</li>
{% endblock %}

{% block primary %}

<article class="module" role="main">
    <div class="module-content">
<h1>Imprint</h1>
  <p><strong>Legal notice of this website – including provider identification according to § 5 Digitale Dienste Gesetz (DDG)</strong></p>

  <h2>Providers of this Website</h2>
  <p>
    German National Library of Science and Technology (TIB)<br>
    Welfengarten 1 B, 30167 Hannover<br>
    Postfach 6080, 30060 Hannover<br>
    Represented by: Prof. Dr. Sören Auer (Director of the TIB)
  </p>
  <p>
    The Technische Informationsbibliothek (TIB) is a foundation under public law of the state of Lower Saxony.<br>
    Supervisory authority: Ministerium für Wissenschaft und Kultur des Landes Niedersachsen
  </p>

  <h2>Contact</h2>
  <p>
    Phone: +49 511 762-8989<br>
    E-mail: <a href="mailto:information@tib.eu">information@tib.eu</a>
  </p>

  <h2>Editorial Office</h2>
  <p>
    Responsible for the content according to § 55 para. 2 RStV:<br>
    Dr. Oliver Koepler<br>
    E-mail: <a href="mailto:oliver.koepler@tib.eu">oliver.koepler@tib.eu</a>
  </p>

  <h2>VAT Identification Number</h2>
  <p>DE 214931803</p>

</div>
</article>

{% endblock %}

{% block secondary %}
{% endblock %}